<div id="{{ id }}" class="vcard">
    {% if type == 'personal' %}
        <div class="fn n">
            {% if given_name|length %}
                <span class="given-name"> {{ given_name }} </span>
            {%endif%}
            {% if family_name|length %}
                <span class="family-name"> {{ family_name }}</span>
            {%endif%}

            {% if org|length  %}
                <div class="org">{{ org }}</div>
            {%endif%}
        </div>
    {%else%}
        {% if org|length %}
            <div class="fn org">{{ org }}</div>
        {%endif%}
    {%endif%}

    {%  if tagline|length %}
        <div class="tagline">{{ tagline }} </div>
    {%endif%}

    {% if (street_address|length > 0 ) or (locality|length > 0 ) or (region|length > 0 ) or (postal_code|length > 0 ) or (country|length > 0 ) %}
        <div class="adr">
            {%  if street_address|length %}
                <div class="street-address">{{ street_address }} </div>
            {%endif%}
            {%  if extended_address|length %}
                <div class="extended-address">{{ extended_address }} </div>
            {%endif%}
            {%  if locality|length %}
                <span class="locality">{{ locality }}</span>{%  if region|length %},{%endif%}
            {%endif%}
            {%  if region|length %}<span class="region">{{ region }}</span>{%endif%}
            {%  if postal_code|length %}
                <span class="postal-code">{{ postal_code }}</span>
            {%endif%}
            {%  if country|length %}
                <span class="country-name">{{ country }}</span>
            {%endif%}
        </div>
    {%endif%}

    {%  if (longitude|length > 0) or (latitude|length > 0)%}
        <div class="geo">
            <abbr class="longitude" title="{{ longitude }}">{{ longitude_formatted }}</abbr>
            <abbr class="latitude" title="{{ latitude }}">{{ latitude_formatted }}</abbr>
        </div>
    {%endif%}

    {% if (phones) or (faxes) %}
        <div class="phone">
            {% for phone in phones %}
                {%  if phone|length %}
                    <div class="tel"><abbr class="type" title="voice"> Telephone : </abbr> {{ phone }} </div>
                {%endif%}
            {%endfor%}
            {% for fax in faxes %}
                {%  if fax|length %}
                    <div class="tel"><abbr class="type" title="fax"> Fax :</abbr> {{ fax }} </div>
                {%endif%}
            {%endfor%}
        </div>
    {%endif%}

    {%  if email|length %}
        <a href="{{ email_url }}" class="email">{{ email }} </a>
    {%endif%}

</div>
